<html xmlns:wicket>
<wicket:panel>

<div class="content">

<table style="clear:both;">
	<tr>
		<td align="right">Creat:<br />Actualizat:</td>
		<td><span wicket:id="label-dateCreated"></span><br />
			<span wicket:id="label-dateUpdated"></span></td>
	</tr>
	<tr>
		<td align="right">Pret:</td>
		<td><span wicket:id="label-price"></span>&nbsp;&nbsp;&nbsp;
			<span wicket:id="label-billingMethod"></span></td>
	</tr>
	
	<wicket:child />
	
</table>
</div>


</wicket:panel>
</html>
  