body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

input[type=submit] {
	font-weight: bold;
}

image {
	border: 0;
}



/* ---------------------------------------------------------- */

div.wicket-aa {
	font-family: sans-serif;
	font-size: 12px;
	color: #000;
	background-color: #ffd;
	border: 1px solid #999;
	padding: 2px;
	margin: 1px 0 0 0;
	text-align:left;
}
div.wicket-aa ul {
	list-style:none;
	padding: 2px;
	margin:0;
}
div.wicket-aa ul li {
	padding: 2px;
	margin:0;
	cursor: pointer;
}
div.wicket-aa ul li.selected {
	background-color: #eff;
	font-weight: bold;
}

div.feedbackPanel {
	
}


/* ---------------------------------------------------------- */

div.panel {
	padding: 0;
	margin: 2px;
	border: 1px solid #89d;
}

div.panel div.title {
	color: #fff;
	background: #89d;
	font-size: 18px;
	padding: 2px;
}

div.panel div.content {
	padding: 2px;
	font-size: 12px;
}

div.panel div.smallerTitle {
	color: #fff;
	background: #89d;
	font-size: 16px;
}

/* ---------------------------------------------------------- */

.table-searchResults thead tr td {
	background: #666;
	color: #fff;
}

.table-searchResults tbody tr td {
	background: #eee;
	color: #000;
}


/* ---------------------------------------------------------- */



div.field {
	float: left;
	clear: both;
	margin: 2px;
}

div.field div.label {
	float: left;
	width: 110px;
	text-align: right;
	padding-right: 4px;
	padding-top: 2px; 
}

div.field div.input {
	float: left;
}

.req {
	font-weight: bold;
}

input.error {
	background: #fee;
	border: 1px solid #933;
}
 